[
    {grisp_updater_kalblimx8mm, [
        {force_emmc_update, false}
    ]},

    {grisp_updater, [
        {system, {grisp_updater_kalblimx8mm, #{}}},
        {sources, [
            {grisp_updater_tarball, #{}},
            {grisp_updater_http, #{
                backend => {grisp_updater_kalblimx8mm, #{}}
            }}
        ]}
    ]},

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                filter_default => log,
                config => #{type => standard_io},
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true
                }}
            }}
        ]}
    ]}
].
